<!DOCTYPE html>
<!--Author: Varun Pasupuleto-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1><%= dayOfWeek %></h1> <!--uses variable-->
        </div>
        <div class="box">
            <% for(let i = 0; i<itemList.length; i++) { %> <!--dynamically add list items-->
                <div class="item">
                    <input type="checkbox">
                    <p><%= itemList[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
        </div>
    </body>
</html>